<?xml version="1.0" ?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>
  <gazebo>
    <plugin name="control" filename="libgazebo_ros_control.so"/>
  </gazebo>
  <gazebo reference="base_link">
    <material>
    <color rgba="1 0 0 1.0"/>
    </material>
  </gazebo>
  <link name="base_link">
    <inertial>
      <origin xyz="0.03916729747052361 0.05645002662100321 -0.18924095212512307" rpy="0 0 0"/>
      <mass value="0.5389324155793394"/>
      <inertia ixx="0.000202" iyy="0.000321" izz="0.000247" ixy="-1.6e-05" iyz="6.7e-05" ixz="-1.1e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
